.container{
	width: 60%;
	height: 450px;
	padding-left: 30%;
	margin: 0 auto;
	align-content: center;
}

.row{
	height: 150px;
	/*width: 100%;*/
	
}

.cuadros{
	height: 150px;
	display: inline-block;
	border:2px solid black;

}
 
.medio{
	margin-left:-5px; 
	margin-right:-5px; 
}